#wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    padding: 40px;
}

#top-container {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

#bot-container button {
    font-size: 30px;
    background-color: white;
    border: none;
    text-align: center;
    color: black;
}
